{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Forget Password</title>
    <link rel="stylesheet" href="{% static 'User/auth.css' %}">
</head>

<body>
    <main>
        <div>
            <div id="main_heading_box">
                <h2>Forget Password</h2>
                <p>Please! Enter your Email Address to proceed.</p>
            </div>
            <form id="form" method="">
                <div class="input-container">
                    <input id="email" type="email" placeholder=" " required>
                    <label for="email">Email Address</label>
                </div>
                <button type="submit">Verify Email</button>
            </form>
        </div>
    </main>

</body>

</html>