<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce | base</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>

<body>
    <button id="backToTop" class="back-to-top" title="Go to top">↑</button>
    <header>
        <nav id="nav1">
            <p id="logo">Ecommerce</p>
            <label for="search" id="search-box">
                <input id="search" name="search" type="search" placeholder="Search for items" required>
                <i class=""></i>
            </label>
            <ul id="nav-box">
                <div class="nav-boxs">
                    <div class="nav-box-icons">
                        <i class=""></i>
                    </div>
                    <div id="nav-account-box">
                        <p>Account</p>
                        <div id="nav-account-login">
                            <a href="./login.html">Log In</a>
                            <i class=""></i>
                        </div>
                        <div class="nav-account-list">
                            <a href="./login.html">LogIn </a>
                            <a href="./signup.html">Register</a>
                        </div>
                    </div>
                </div>
                <div class="nav-boxs">
                    <div class="nav-box-icons">
                        <i class=""></i>
                    </div>
                    <div id="nav-cart-box">
                        <p>Cart</p>
                        <p>0 - items</p>
                    </div>
                </div>
            </ul>
        </nav>
        <nav id="nav2">
            <div id="nav-btn">
                <i class=""></i>
                <p>Explore All Catagories</p>
                <i id="nav-btn-arrow" class=""></i>
            </div>
            <ul>
                <a href="">
                    <li>Home</li>
                </a>
                <a href="./about.html">
                    <li>About Us</li>
                </a>
                <a href="">
                    <li>Mega Menu</li>
                </a>
                <a href="">
                    <li>Blogs</li>
                </a>
                <a href="">
                    <li>Catagories</li>
                </a>
                <a href="./contact.html">
                    <li>Contact</li>
                </a>
            </ul>
            <div id="nav-phone-box">
                <div id="nav-phone-box-icon">
                    <i class=""></i>
                </div>
                <div id="nav-phone-number">
                    <p>24/7 Support</p>
                    <p>012 3456789</p>
                </div>
            </div>
        </nav>
        <section id="hero-section">
            <ul class="head-catagories-list head-catagories-list-active">
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Fresh & Organic</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Baby Food & Care</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Fresh Vegetables</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Meet & Fish</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Dairy & Eggs</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Bakery & Snacks</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Rice , Pulses & Grains</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Beverages & Juices</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Fronzen Foods</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Sauces, Pickles & Condiments</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Health & Wellness</p>
                    </li>
                    <i class=""></i>
                </a><span></span>
                <a href="">
                    <li>
                        <i class=""></i>
                        <p>Last One Catagory</p>
                    </li>
                    <i class=""></i>
                </a>
            </ul>
            <section class="slider-container" id="slider-container">
                <div class="slider-track" id="slider-track">
                    <div class="slide">
                        <div class="slide-content">
                            <span class="discount-tag">Exclusive Offer<span>25% Off</span>
                            <h1>Stay Warm for Less</h1>
                            <p class="description">Grab exclusive deals on sweaters, hoodies, coats, and cold-weather
                                must-haves
                                before the season ends.</p>
                            <a href="#" class="shop-now-btn"> Shop Now
                                <span class="arrow-icon">↗</span>
                            </a>
                        </div>
                        <div class="slide-image-container">
                            <img src="../static/images/cosmetic-bundle.png" alt="Kids in winter gear" class="slide-img">
                        </div>
                    </div>
                </div>

                <button class="nav-btn prev" id="prevBtn">&#10094;</button>
                <button class="nav-btn next" id="nextBtn">&#10095;</button>

                <div class="dots-container" id="dots-container"> </div>
            </section>
        </section>

    </header>

    <footer class="site-footer">
        <div class="newsletter">
            <div class="container newsletter-box">
                <h2 class="newsletter-title">Subscribe to the newsletter</h2>
                <p class="newsletter-desc">Stay updated! Subscribe to our mailing list for news, updates, and exclusive
                    offers.</p>
                <form class="newsletter-form" id="newsletterForm">
                    <div class="input-group">
                        <span class="input-icon"><i class="fa-regular fa-envelope"></i></span>
                        <input type="email" id="emailInput" placeholder="Enter your email" required>
                    </div>
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
        </div>

        <div class="footer-main-bg">
            <div class="container footer-grid">

                <div class="footer-col col-brand">
                    <div class="footer-logo">
                        <img src="" alt="Sellzy Logo">
                    </div>
                    <p class="brand-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <div class="social-links">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href=""><i class="fa-brands fa-pinterest"></i></a>
                        <a href=""><i class="fa-brands fa-behance"></i></a>
                    </div>

                    <div class="download-apps">
                        <p class="download-text">Download Our App:</p>
                        <div class="app-buttons">
                            <a href="" class="app-btn"><img src="../static/images/google-play.png"
                                    alt="Google Play Store"></a>
                            <a href="" class="app-btn"><img src="../static/images/apple-store.png"
                                    alt="Apple App Store"></a>
                        </div>
                    </div>
                </div>

                <div class="footer-col col-links">
                    <h3 class="col-title">About</h3>
                    <ul class="footer-links">
                        <li><a href="./about.html">About us</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Latest Blog</a></li>
                        <li><a href="./contact.html">Contact us</a></li>
                    </ul>
                </div>

                <div class="footer-col col-links">
                    <h3 class="col-title">My Account</h3>
                    <ul class="footer-links">
                        <li><a href="#">Your Account</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Become a Vendor</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Affiliate Program</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>

                <div class="footer-col col-links">
                    <h3 class="col-title">Categories</h3>
                    <ul class="footer-links">
                        <li><a href="#">Healthcare</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Organic</a></li>
                        <li><a href="#">Beauty</a></li>
                        <li><a href="#">Grocery</a></li>
                        <li><a href="#">Fashion</a></li>
                    </ul>
                </div>

                <div class="footer-col col-contact">
                    <h3 class="col-title">Contact Information's</h3>
                    <ul class="contact-info">
                        <li class="contact-item">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>2715 Ash Dr. San Jose, South Dakota 83475</span>
                        </li>
                        <li class="contact-item">
                            <i class="fa-solid fa-phone"></i>
                            <span>Call Us: (239) 555-0108</span>
                        </li>
                        <li class="contact-item">
                            <i class="fa-solid fa-envelope"></i>
                            <span>sara.cruz@example.com</span>
                        </li>
                    </ul>
                    <div class="payment-methods download-apps">
                        <img src="../static/images/payment-methods-amex.png" alt="Accepted Payment Methods">
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-copyright-bar">
            <p>@ 2026 Copyright By Ecommerce, All rights are reserved.</p>
        </div>

    </footer>
    <script src="../static/js/base.js"></script>
</body>

</html>