<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce | Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <main>

        <section id="service-benefits">
            <div class="service-benefit-boxs">
                <span></span>
                <strong>Free Shipping</strong>
                <p>Enjoy the convince of Free Shipping on First Order.</p>
            </div>
            <div class="service-benefit-boxs">
                <span></span>
                <strong>24x7 Support</strong>
                <p>Round-the-Clock Assistance, Any Time You Need it</p>
            </div>
            <div class="service-benefit-boxs">
                <span></span>
                <strong>15 Days Return</strong>
                <p>Your Satisfaction is our Priority, Return Any product within 15 days</p>
            </div>
            <div class="service-benefit-boxs">
                <span></span>
                <strong>Secure Payment</strong>
                <p>Seamless Shopping Backend by Safe and Secure Payment options</p>
            </div>
        </section>

        <section class="ad-grid-section">
            <div class="grid-container">

                <a href="/category/men" class="grid-card card-men active">
                    <div class="card-media">
                        <img src="../static/images/ad-image.jpg" alt="Couple in trench coats">
                    </div>
                    <div class="card-content pink-bg">
                        <div class="card-details">
                            <span class="badge yellow-badge">Enjoy 20% Savings</span>
                            <h2 class="card-title">From Runway to Your Closet</h2>
                            <p class="card-desc">Explore top picks and must-have fashion essentials today.</p>
                            <button class="shop-btn">Shop Now <span class="arrow">↗</span></button>
                        </div>
                    </div>
                </a>

                <a href="/category/women" class="grid-card card-women">
                    <div class="card-media">
                        <img src="../static/images/ad-image.jpg" alt="Women models">
                    </div>
                    <div class="card-content yellow-bg">
                        <div class="card-details">
                            <span class="badge pink-badge">Enjoy 20% Savings</span>
                            <h2 class="card-title">Women's Clothing</h2>
                            <p class="card-desc">Shop exclusive collections and express your unique style.</p>
                            <button class="shop-btn">Shop Now <span class="arrow">↗</span></button>
                        </div>
                    </div>
                </a>

                <a href="/category/kids" class="grid-card card-kids">
                    <div class="card-media">
                        <img src="../static/images/ad-image.jpg" alt="Kids models">
                    </div>
                    <div class="card-content teal-bg">
                        <div class="card-details">
                            <span class="badge yellow-badge">Enjoy 20% Savings</span>
                            <h2 class="card-title">Kids & Baby Clothing</h2>
                            <p class="card-desc">Shop exclusive collections and express your unique style.</p>
                            <button class="shop-btn">Shop Now <span class="arrow">↗</span></button>
                        </div>
                    </div>
                </a>

            </div>
        </section>


        <div class="container">
            <div class="ad-card card-pink">
                <div class="content">
                    <h2>Your Health, Our Priority</h2>
                    <p>Comprehensive Healthcare Solutions Delivered with Care and Precision</p>
                    <a href="#" class="shop-now">
                        Shop Now
                        <span class="arrow-circle">↗</span>
                    </a>
                </div>
                <img src="../static/images/vitamin-c.png" alt="Vitamin C" class="product-img">
            </div>

            <div class="ad-card card-yellow">
                <div class="content">
                    <h2>Your Partner in Wellness</h2>
                    <p>Comprehensive Healthcare Solutions Delivered with Care and Precision</p>
                    <a href="#" class="shop-now">
                        Shop Now
                        <span class="arrow-circle">↗</span>
                    </a>
                </div>
                <img src="../static/images/vitamin-c-2.png" alt="vitamin-c-2" class="product-img">
            </div>

            <div class="ad-card card-green">
                <div class="content">
                    <h2>Health Made Simple</h2>
                    <p>Comprehensive Healthcare Solutions Delivered with Care and Precision</p>
                    <a href="#" class="shop-now">
                        Shop Now
                        <span class="arrow-circle">↗</span>
                    </a>
                </div>
                <img src="../static/images/bp-machine.png" alt="bp-machine" class="product-img">
            </div>
        </div>

        
    <section id="special-products">
        <h1 class="section-title">Deals of the day</h1>
        <div class="slider-wrapper">
            <div class="product-track" id="track">
                <div class="product-card">
                    <div class="product-image">
                        <img src="../static/images/vitamin-c.png" alt="MacBook">
                    </div>
                    <div class="product-info">
                        <span class="badge">15% OFF</span>
                        <h2 class="product-name">MacBook Pro</h2>
                        <div class="rating">★★★★☆ <span>(189)</span></div>
                        <div class="colors">
                            <div class="color-dot" style="background: #d1b3ff;"></div>
                            <div class="color-dot" style="background: #80ffd4;"></div>
                            <div class="color-dot" style="background: #fff380;"></div>
                            <div class="color-dot" style="background: #80c4ff;"></div>
                        </div>
                        <div class="countdown">
                            <div class="time-box"><span class="time-num">240</span><span class="time-label">Days</span>
                            </div>
                            <div class="time-box"><span class="time-num">16</span><span class="time-label">Hours</span>
                            </div>
                            <div class="time-box"><span class="time-num">33</span><span class="time-label">Mins</span>
                            </div>
                            <div class="time-box"><span class="time-num">17</span><span class="time-label">Secs</span>
                            </div>
                        </div>
                        <div class="stock-status">
                            <div class="progress-container">
                                <div class="progress-bar" style="width: 40%;"></div>
                            </div>
                            <div class="stock-labels"><span>Sold: 4</span><span>Available: 200</span></div>
                        </div>
                        <div class="card-footer">
                            <div class="price">$27.49 <del>$29.99</del></div>
                            <button class="add-btn">🛒 Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination" id="pagination"></div>
        <div class="sp-nav-btns">
            <button class="sp-nav-btn" onclick="moveSlide(-1)">❮</button>
            <button class="sp-nav-btn" onclick="moveSlide(1)">❯</button>
        </div>
    </section>
    
    </main>

    <script src="../static/js/script.js"></script>
</body>

</html>